{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block enseignement_active %}
<li class="current">
    <a class="enseignements active" href="{{ path('espace_members_teaching') }}">{{ 'espace.lessons'|trans({}, 'EspaceMembers') }}</a>
</li>
{% endblock enseignement_active %}

{% block body %}
<div class="content">
    <div class="full-width">
        <span class="year">{{ event.year }}</span>
        <h2>{{ event.title|capitalize }}</h2>
        <span class="sub-heading">
            <img src="{{ asset('bundles/espacemembersmain/images/flag.png') }}" alt="flag" />
            {{ event.category.name|capitalize }}
        </span>

        <div class="image-box">
            <img src="{{ path_to_media(event.frontImage, 'big') }}" width="175px" height="175px" alt="image">
            <span class="describe">
                {{ 'espace.events.since'|trans({}, 'EspaceMembers') }}
                {{ event.startDate|localizeddate('none', 'none', app.request.locale, null, 'd LLLL')|title }}
                {{ 'espace.events.to'|trans({}, 'EspaceMembers') }}
                {{ event.completionDate|localizeddate('none', 'none', app.request.locale, null, 'd LLLL')|title }}
            </span>

            <p>{{ event.description|length > 255 ? event.description|slice(0, 255) ~ '...' : event.description }}</p>

            <p>{{ 'espace.teacher.title'|trans({}, 'EspaceMembers') }}:<br />
            {% for teacher in event.users %}
                <a href="#" class="link">{{ teacher.lastname }} {{ teacher.firstname }}<br /></a>
            {% else %}
                <a href="#" class="link">{{ 'espace.teacher.404'|trans({}, 'EspaceMembers') }}</a>
            {% endfor %}
            </p>

            <p>{{ 'espace.teaching.category'|trans({}, 'EspaceMembers') }}:<br />
                {{ event.category.name|capitalize }}
            </p>

            <p>{{ 'espace.teaching.tag'|trans({}, 'EspaceMembers') }}:<br />
            {% for tag in event.tags %}
                <a href="#" class="theme-button">{{ tag.name }}</a>
            {% else %}
                <a href="#" class="theme-button">{{ 'espace.tag.404'|trans({}, 'EspaceMembers') }}</a>
            {% endfor %}
            </p>
        </div>

        {% for teacher in event.users %}
            {{ include('EspaceMembersMainBundle:Template/left-block:detail-box.html.twig', {
                'teacher' : teacher, 'bookmarksId' : bookmarksId
            }) }}
        {% endfor %}
    </div>
    <div class="clear"><!-- --></div>
{% endblock %}
