<div class="detail-box">
    <span class="sub-heading">
        <img src="{{ path_to_media_by_array(teacher.avatar, 'small') }}" width="30px" height="30px" alt="avatar">
        {{ teacher.last_name }} {{ teacher.first_name }}
    </span>
    {% set teachings = teacher.teachings %}
    {% if teachings is iterable and teachings is not empty %}
        {% for teaching in teachings %}
            {{ include( 'EspaceMembersMainBundle:Teaching:teachings.html.twig', {
                'teaching': teaching,
            }) }}
        {% endfor %}
    {% elseif teachings is defined %}
        {{ include( 'EspaceMembersMainBundle:Teaching:teachings.html.twig', {
            'teaching': teacher.teachings.first(),
        }) }}
    {% else %}
        <div class="item">
            Not found teaching
        </div>
    {% endif %}
</div>
