{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {% set accordion  = accordion  is defined ? accordion  : 'false' %}
    {% set filteredId = filteredId is defined ? filteredId : -1 %}
    <script>$(function() {
        var accordion  = {{ accordion }};
        var filteredId = {{ filteredId }};
        $("#accordion").accordion({ active: accordion,  collapsible: true });
        if (false !== accordion) {
            var currentPanel  = $('#accordion').find('div').eq(accordion);
            var currentHeader = $('#accordion').find('h3').eq(accordion);
            currentHeader.addClass('ui-active-accordion');
            currentPanel.addClass('accordion-filter-list');
            currentPanel.find("a[link-id]").removeClass('droplink');
            currentPanel.find("a[link-id]").removeClass('droplink').addClass('droplink2');
            currentPanel.find("a[link-id='" + filteredId + "']").addClass('droplink2 active');
        }
    });
    </script>
    <script src="{{ asset('bundles/espacemembersmain/js/teaching/index.js') }}"></script>
{% endblock javascript %}

{% block enseignement_active %}
    <li class="current">
        <a class="active enseignements" href="{{ path ('espace_members_teaching') }}">Enseignements</a>
    </li>
{% endblock enseignement_active %}

{% block body %}
<div class="content">
    {% block right_column %}
        {% set accordion  = accordion  is defined ? accordion  : -1 %}
        {% set filteredId = filteredId is defined ? filteredId : -1 %}
        {{ render(controller('EspaceMembersMainBundle:Render:rightBlock', {
            'accordion' : accordion,
            'filteredId': filteredId
        })) }}
    {% endblock right_column %}

    {% block left_column %}
        {% if chronologies is defined %}
            {% if chronologies is iterable %}
                {% for chronology in chronologies %}
                    {{ include( 'EspaceMembersMainBundle:Teaching:left-block.html.twig', {
                        'chronology' : chronology,
                    }) }}
                {% else %}
                    <div class="left-column">
                        <p>Not found entries</p>
                    </div>
                {% endfor %}
            {% else %}
                {{ include( 'EspaceMembersMainBundle:Teaching:left-block.html.twig', {
                    'chronology' : chronologies,
                }) }}
            {% endif %}
        {% else %}
            <div class="left-column">
                <p>Not found entries</p>
            </div>
        {% endif %}
    {% endblock left_column %}
</div>
<div class="clear"><!-- --></div>
{% endblock %}
