{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block enseignement_active %}
    <li class="current">
        <a class="enseignements active" href="{{ path('espace_members_teaching') }}">{{ 'espace.lessons'|trans({}, 'EspaceMembers') }}</a>
    </li>
{% endblock enseignement_active %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/espacemembersmain/css/msdropdown/dd.css') }}" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/espacemembersmain/js/msdropdown/jquery.dd.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/espacemembersmain/js/teaching/play.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="content">
    <div class="topbar">
        <img src="{{ path_to_media(event.frontImage, 'small') }}" width="50px" height="50px" class="leftimg" alt="image">

        <h2>{{ event.title|capitalize }}</h2>

        <div class="rightside">
            <div class="profile-name">
                <select name="webmenu" id="webmenu">
                    {% for teacher in event.users %}
                        <option value="{{ path('espace_members_playing_teaching', {
                                'event_id' : event.id,
                                'teacher_id' : teacher.id,
                                'teaching_id' : teachingCurr.id })
                            }}"
                            {% if teacher.id == teacherCurr.id %}
                                selected="selected" title="{{ path_to_media(teacher.avatar, 'very_small') }}"
                            {% else %}
                                data-image="{{ path_to_media(teacher.avatar, 'very_small') }}"
                            {% endif %}>
                            {{ teacher.lastname }} {{ teacher.firstname }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="num-list">
                <a class="left-arrow" href="#"></a>
                <a class="right-arrow" href="#"></a>
                <ul class="menu" data-max="{{ teacherCurr.teachings|length }}">
                    <li>
                        <a style="cursor:pointer;" data-curr-serial="{{ teachingCurr.serial }}">
                           {{ 'espace.teaching.serial'|trans({}, 'EspaceMembers') }} {{ teachingCurr.serial }} / {{ teacherCurr.teachings|length }}
                        </a>
                        <ul class="sub-menu" style="display: none;">
                        {% for teaching in teacherCurr.teachings %}
                            {% set pathToPlayingTeaching %}
                                {{ path('espace_members_playing_teaching', {
                                    'event_id' : event.id,
                                    'teacher_id' : teacherCurr.id,
                                    'teaching_id' : teaching.id })
                                }}
                            {% endset %}
                            <li data-serial="{{ teaching.serial }}">
                                <span class="categorie">
                                    {{ 'espace.teaching.serial'|trans({}, 'EspaceMembers') }} {{ teaching.serial }}
                                </span>
                                <a href="{{ pathToPlayingTeaching }}" class="tittle">
                                    {{ teaching.title|length > 37 ?  teaching.title|slice(0, 37) ~ '...' : teaching.title }}
                                    <span class="uploaded-time">
                                        {{ 'espace.teaching.day'|trans({}, 'EspaceMembers') }} {{ teaching.dayNumber }},
                                        {{ teaching.date|localizeddate('none', 'none', app.request.locale, null, 'd
                                        LLLL Y') }} ( {{teaching.dayTime}} )
                                    </span>
                                </a>
                                <a href="{{ pathToPlayingTeaching }}" class="play">
                                    {% if teaching.lesson.contentType == 'audio/mpeg' %}
                                    <img src="{{ asset('bundles/espacemembersmain/images/audio.png') }}" alt="icon" />
                                    {% else %}
                                    <img src="{{ asset('bundles/espacemembersmain/images/video.png') }}" alt="icon" />
                                    {% endif %}
                                </a>

                                <span class="time">{{ teaching.lesson.playtime }}</span>

                                <a href="#" class="follow fav {% if bookmarksId is defined and bookmarksId|isBookmark(teaching.id) %}active{% endif %}"
                                    data-id="{{ teaching.id }}">
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <video controls>
        <source src="{{ path_to_media(teachingCurr.lesson, 'reference') }}" type="{{ teachingCurr.lesson.contentType }}">
        Your browser does not support the video tag.
    </video>

    <div class="full-width2">
        <div class="favbox">
            <h2>{{ teachingCurr.title|capitalize }}</h2>
            {% if bookmarksId is defined and bookmarksId|isBookmark(teachingCurr.id) %}
                <a href="#" class="active" data-id="{{ teachingCurr.id }}">
                    {{ 'espace.bookmark.remove'|trans({}, 'EspaceMembers') }}
                </a>
            {% else %}
                <a href="#" class="unactive" data-id="{{ teachingCurr.id }}">
                    {{ 'espace.bookmark.add'|trans({}, 'EspaceMembers') }}
                </a>
            {% endif %}
        </div>

        <div class="left-bar2">
            <p class="heading">{{ event.title|capitalize }}</p>
            <p>{{ 'espace.teaching.serial'|trans({}, 'EspaceMembers') }} {{ teachingCurr.serial }}<br />
                <span style="color:#282629;">
                    {{ teachingCurr.date|localizeddate('none', 'none', app.request.locale, null, 'd LLLL Y') }}
                </span>
                <br />
                {{ 'espace.teaching.day'|trans({}, 'EspaceMembers') }} {{ teachingCurr.dayNumber }}, {{teachingCurr.dayTime}}
            </p>

            <p>{{ 'espace.teacher.title'|trans({}, 'EspaceMembers') }}:<br />
            {% for teacher in teachingCurr.users %}
                <a href="{{ path('espace_members_filter_teaching_teacher', { 'teacher_id': teacher.id }) }}" class="link">
                    {{ teacher.lastname }} {{ teacher.firstname }}
                </a>
            {% endfor %}
            </p>

            <p>{{ 'espace.teaching.category'|trans({}, 'EspaceMembers') }}:<br />
                {{ event.category.name|capitalize }}
            </p>

            <p>{{ 'espace.teaching.direction'|trans({}, 'EspaceMembers') }}:<br />
                {% set directionsName %}
                    {% for direction in teachingCurr.directions %}
                        {{ direction == teachingCurr.directions|last ? direction.name : direction.name ~ ',' }}
                    {% endfor %}
                {% endset %}
                {{ directionsName[0:directionsName|length]|title }}
            </p>

            <p>{{ 'espace.teaching.tag'|trans({}, 'EspaceMembers') }}:<br />
            {% for tag in teachingCurr.tags %}
                <a href="{{ path('espace_members_filter_teaching_tag', { 'tag_id': tag.id}) }}" class="theme-button">{{ tag.name }}</a>
            {% else %}
                <a href="#" class="theme-button">{{ 'espace.tag.404'|trans({}, 'EspaceMembers') }}</a>
            {% endfor %}
            </p>

        </div>

        <div class="right-bar2">
            <div class="box">
                <p>{{ teachingCurr.resume }}</p>
            </div>
        </div>
    </div>
</div>

<div class="clear"><!-- --></div>
{% endblock %}
