<!DOCTYPE html>
<html>
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if lte IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<!-- Basic Page Needs ================================================== -->
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ESpace Members</title>
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Mobile Specific Metas
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

<!-- CSS
================================================== -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/espacemembersmain/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationsonatauser/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/espacemembersmain/js/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/espacemembersmain/css/pagerfanta.css') }}" />
    <!-- Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/espacemembersmain/js/jquery-1.9.1.js') }}"></script>
    <script src="{{ asset('bundles/espacemembersmain/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
</head>
<body>
    <div id="top">
        {% block top %}
        <div class="top clearfix">
            <div style="height:50px; width:100%; float:left;" class="float-right">
                <a href="{{ path('espace_members_bookmark_show') }}">
                    <img src="{{ asset('bundles/espacemembersmain/images/hr.png') }}" alt="bookmarks" />
                </a>
                <a href="#"><img src="{{ asset('bundles/espacemembersmain/images/gft.png') }}" alt="icon" /></a>
                <a style="margin:5px 20px 0px 0px;" href="{{ path('sonata_user_admin_security_logout')}}">{{ 'layout.logout'|trans({}, 'FOSUserBundle')}}</a>

                {% if is_granted('ROLE_ADMIN') %}
                <a style="margin:5px 20px 0px 0px;" href="{{ path('sonata_admin_dashboard')}}">Admin</a>
                {% endif %}
                <a  style="margin:5px 20px 0px 0px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">Русский</a>
                <a  style="margin:5px 20px 0px 0px;" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Français</a>
            </div>
        </div>
        {% endblock %}
  </div>
  <!-- Start HEADER
    ========================== -->
  <div id="header">
      {% block header %}
      <!-- Start MAIN MENU
      ========================== -->
      <div class="main-menu">
          <h1><span>E</span>SPACE <span>M</span>EMBRES</h1>
          <nav id="main-nav">
              <ul>
                  {% block communate_active %}
                  <li class="first"><a class="communaute" href="{{ path('espace_members_community') }}">{{ 'espace.community'|trans({}, 'EspaceMembers') }}</a></li>
                  {% endblock communate_active %}

                  {% block profil_active %}
                  <li><a class="profil" href="{{ path('sonata_user_profile_show') }}">{{ 'espace.profile.menu'|trans({}, 'EspaceMembers') }}</a></li>
                  {% endblock profil_active %}

                  {% block enseignement_active %}
                  <li><a class="enseignements" href="{{ path('espace_members_teaching') }}">{{ 'espace.lessons'|trans({}, 'EspaceMembers') }}</a></li>
                  {% endblock enseignement_active %}

                  {#{% block etude_active %}#}
                  {#<li><a class="etude" href="#">Etude des voies</a></li>#}
                  {#{% endblock etude_active %}#}
                  <form class="clearfix" action="{{ path('espace_members_teaching_search') }}" method="get">
                      <input type="text" placeholder="Keywords" value="{{ app.request.get('query') }}" class="search" name="query">
                      <input type="submit" class="search-submit" value="">
                  </form>
              </ul>
          </nav>
      </div>

      {% block logo_active %}
      <a class="logo" href="{{ path('espace_members_teaching') }}">
          <img src="{{ asset('bundles/espacemembersmain/images/logo.png') }}" alt="logo" />
      </a>
      {% endblock logo_active %}

      {% endblock %}
  </div><!-- #End HEADER -->

  <!-- Start CONTENT
    ========================== -->
  <div id="content">
      {% block body %}
      {% endblock %}
  </div>
</body>
</html>
