{#BEGIN left-column#}
{% for bookmark in bookmarks %}

    <div class="left-column">
        <span class="year">{{ bookmark.event.year }}</span>
            <h2>{{ bookmark.event.title|capitalize }}</h2>
            <span class="sub-heading">
                <img src="{{ asset('bundles/espacemembersmain/images/flag.png') }}" alt="flag" />
                {{ bookmark.event.category.title|capitalize }}
            </span>

            <div class="image-box">
                {% media bookmark.event.frontImage, 'big' with
                    { 'width': '175px', 'height': '175px', 'alt': 'image', 'title': '' }
                %}
                <span class="describe">
                    Du {{ bookmark.event.startDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
                    Au {{ bookmark.event.completionDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
                </span>
                <a href="{{ path('espace_members_detail_teaching',
                    { 'event_id' : bookmark.event.id, } ) }}"
                    class="zoom">EN SAVOIR
                </a>
            </div>

            {% for teacher in bookmark.event.users %}
                {% block detail %}{% endblock %}
            {% endfor %}

    </div>
{% endfor %}
{#END left-column#}
