<div class="right-column">
   <div id="accordion">
       <h3 class="{% if filtered_chronology_id is defined %} ui-active-accordion {% endif %}" >
            <img src="{{ asset('bundles/espacemembersmain/js/images/calendar.png') }}" alt="icon" />
            Chronologique
        </h3>
        <div style="{% if filtered_chronology_id is defined %}background:#fff9e4;{% endif %}">
            <ul>
                <li><a href="{{ path('espace_members_teaching') }}"
                    class="{% if filtered_chronology_id is defined %}droplink2{% else %}droplink{% endif %}">
                    Tout </a></li>
                {% for chronology in chronologies %}
                <li>
                    <a href="{{ path('espace_members_filter_teaching_chronology', { 'chronology_id': chronology.id}) }}"
                    {% if filtered_chronology_id is defined  %}
                        {% if filtered_chronology_id == chronology.id %}class='droplink2 active'
                        {% else %} class=droplink2 {% endif %}
                    {% else %} class="droplink" {% endif %}>
                    {{ chronology.year }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3 class="{% if filtered_category_id is defined %} ui-active-accordion {% endif %}" >
            <img src="{{ asset('bundles/espacemembersmain/js/images/folder.png') }}" alt="icon" />
            Catégories
        </h3>
        <div style="{% if filtered_category_id is defined %}background:#fff9e4;{% endif %}">
            <ul>
                <li><a href="{{ path('espace_members_teaching') }}"
                    class="{% if filtered_category_id is defined %}droplink2{% else %}droplink{% endif %}">
                    Tout </a></li>
                {% for category in categories %}
                    <li>
                        <a
                        href="{{ path('espace_members_filter_teaching_category', { 'category_id': category.id}) }}"
                        {% if filtered_category_id is defined  %}
                            {% if filtered_category_id == category.id %}class='droplink2 active'
                            {% else %} class=droplink2 {% endif %}
                        {% else %} class="droplink" {% endif %}>
                        {{ category.title|capitalize }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h3 class="{% if filtered_voie_id is defined %} ui-active-accordion {% endif %}" >
            <img src="{{ asset('bundles/espacemembersmain/js/images/notes.png') }}" alt="icon" />Par voie</h3>
        <div style="{% if filtered_voie_id is defined %}background:#fff9e4;{% endif %}">
            <ul>
                <li><a href="{{ path('espace_members_teaching') }}"
                    class="{% if filtered_voie_id is defined %}droplink2{% else %}droplink{% endif %}">
                    Tout </a></li>
                {% for voie in voies %}
                    <li>
                        <a 
                        href="{{ path('espace_members_filter_teaching_voie', { 'voie_id': voie.id}) }}"
                        {% if filtered_voie_id is defined  %}
                            {% if filtered_voie_id == voie.id %}class='droplink2 active'
                            {% else %} class=droplink2 {% endif %}
                        {% else %} class="droplink" {% endif %}>
                        {{ voie.title|capitalize }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h3 class="{% if filtered_teacher_id is defined %} ui-active-accordion {% endif %}" >
            <img src="{{ asset('bundles/espacemembersmain/js/images/mic.png') }}" alt="icon" />Par enseignant</h3>
        <div style="{% if filtered_teacher_id is defined %}background:#fff9e4;{% endif %}">
            <ul>
                <li><a href="{{ path('espace_members_teaching') }}"
                    class="{% if filtered_teacher_id is defined %}droplink2{% else %}droplink{% endif %}">
                    Tout </a></li>
                {% for teacher in teachers %}
                    <li>
                        <a 
                        href="{{ path('espace_members_filter_teaching_teacher', { 'teacher_id': teacher.id}) }}"
                        {% if filtered_teacher_id is defined  %}
                            {% if filtered_teacher_id == teacher.id %}class='droplink2 active'
                            {% else %} class=droplink2 {% endif %}
                        {% else %} class="droplink" {% endif %}>
                        {{ teacher.lastName }}  {{ teacher.firstName }} 
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h3 class="{% if filtered_tag_id is defined %} ui-active-accordion {% endif %}" >
            <img src="{{ asset('bundles/espacemembersmain/js/images/comment.png') }}" alt="icon" />Par thème</h3>
        <div style="{% if filtered_tag_id is defined %}background:#fff9e4;{% endif %}">
            <ul>
                <li><a href="{{ path('espace_members_teaching') }}"
                    class="{% if filtered_tag_id is defined %}droplink2{% else %}droplink{% endif %}">
                    Tout </a></li>
                {% for tag in tags %}
                    <li>
                        <a href="{{ path('espace_members_filter_teaching_tag', { 'tag_id': tag.id}) }}" 
                        {% if filtered_tag_id is defined  %}
                            {% if filtered_tag_id == tag.id %}class='droplink2 active'
                            {% else %} class=droplink2 {% endif %}
                        {% else %} class="droplink" {% endif %}>
                        {{ tag.title|capitalize }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
