{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
{% endblock %}

{% block profil_active %}
    <li class="current">
        <a class="profil active" href="{{ path('sonata_user_profile_show') }}">{{ 'espace.profile.menu'|trans({}, 'EspaceMembers') }}</a>
    </li>
{% endblock profil_active %}

{% block body %}
<div class="content">
    <div class="full-width2">

        <div class="left-bar">
            <a href="{{ path('sonata_user_profile_show') }}" class="link">{{ 'espace.profile.show'|trans({}, 'EspaceMembers') }}</a>
        </div>

        <div class="right-bar">
            <h1>{{ 'espace.profile.edit'|trans({}, 'EspaceMembers') }}:</h1>
            <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="pure-form pure-form-stacked">
                {{ form_errors(form) }}
                <fieldset>
                    {{ form_widget(form) }}
                    <button type="submit" name="submit"  class="pure-button pure-button-primary">
                        {{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="clear"><!-- --></div>
{% endblock %}
