{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block profil_active %}
    <li class="current">
        <a class="profil active" href="{{ path('sonata_user_profile_show') }}">{{ 'espace.profile.menu'|trans({}, 'EspaceMembers') }}</a>
    </li>
{% endblock profil_active %}

{% block body %}
<div class="content">
    <div class="full-width2">
        <div class="left-bar">
            <a href="{{ path('sonata_user_profile_edit') }}" class="link">{{ 'espace.profile.edit'|trans({}, 'EspaceMembers') }}</a>
        </div>
        <div class="right-bar">
            {% for flashMessage in app.session.flashbag.get('sonata_user_success') %}
            <div class="flash-notice">
                {{ flashMessage|trans }}
            </div>
            {% endfor %}
            <div class="box">
                <span class="right-tag"></span>
                {% media user.avatar, 'big' with { 'width': '175px', 'height': '175px', 'alt': 'image', 'title': '' } %}

                <h2>{{ user.lastname }} {{ user.firstname }}</h2>

                <p>{{ user.biography|length > 255 ? user.biography|slice(0, 255) ~ '...' : user.biography }}</p>
                <p>
                {{ 'espace.phone'|trans({}, 'EspaceMembers') }}: {{ user.phone|length   > 0 ? user.phone   : "" }}<br />
                {{ 'espace.email'|trans({}, 'EspaceMembers') }}: {{ user.email|length   > 0 ? user.email   : "" }}<br />
                {{ 'espace.address'|trans({}, 'EspaceMembers') }}: {{ user.address|length > 0 ? user.address : "" }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="clear"><!-- --></div>
{% endblock %}
