{% extends 'EspaceMembersMainBundle::layout.html.twig' %}

{% block communate_active %}
    <li class="first current">
        <a class="communaute active" href="{{ path('espace_members_community') }}">{{ 'espace.community'|trans({}, 'EspaceMembers') }}</a>
    </li>
{% endblock communate_active %}

{% block logo_active %}
    <a class="logo" href="{{ path('espace_members_community') }}">
      <img src="{{ asset('bundles/espacemembersmain/images/logo2.png') }}" alt="logo" />
    </a>
{% endblock logo_active %}

{% block body %}
<div class="content">
    <div class="full-width2">

        <div class="left-bar">
        {% for group in groups %}
            <a href="{{ path('espace_members_community_filter', {'group_name': group.name}) }}" class="link">{{ group.name }}</a>
        {% else %}
            <a href="#" class="link">Not found groups</a>
        {% endfor %}
        </div>

        <div class="right-bar">
        {% for letter in 'a'|upper..'z'|upper %}
            {% for user in users if user.lastname|first|upper == letter %}
            <div class="box">
                {% if loop.first %}<span class="right-tag">{{ letter }}</span> {% endif %}
                <img src="{{ path_to_media(user.avatar, 'big') }}" width="175px" height="175px" alt="image">

                <h2>{{ user.lastname }} {{ user.firstname }}</h2>

                <p>{{ user.biography|length > 255 ? user.biography|slice(0, 255) ~ '...' : user.biography }}</p>
                <p>
                    Téléphone: {{ user.phone|length   > 0 ? user.phone   : "" }}<br />
                    Email:     {{ user.email|length   > 0 ? user.email   : "" }}<br />
                    Adresse:   {{ user.address|length > 0 ? user.address : "" }}
                </p>
            </div>
            {% endfor %}
        {% endfor %}

        {% if paginator.haveToPaginate %}
            <div class="pagerfanta" align="center">
                {{ pagerfanta(paginator) }}
            </div>
        {% endif %}
        </div>
    </div>

</div>
<div class="clear"><!-- --></div>
{% endblock %}
