<span class="sub-heading">
    <img src="{{ asset('bundles/espacemembersmain/images/flag.png') }}" alt="flag" />
    {{ event.category.title|capitalize }}
</span>

<div class="image-box">
    <img src="{{ path_to_media_by_array(event.frontImage, 'big') }}" width="175px" height="175px" alt="image">
    <span class="describe">
        Du {{ event.startDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
        Au {{ event.completionDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
    </span>
    <a href="{{ path('espace_members_detail_teaching', {'event_id' : event.id} ) }}" class="zoom">EN SAVOIR</a>
</div>

{% for teacher in event.users %}
    {{ include('EspaceMembersMainBundle:Template/left-block:detail-box.html.twig', {
        'teacher' : teacher, 'avatar' : teacher.avatar, 'bookmarksId' : bookmarksId
    }) }}
{% endfor %}
