<div class="item">
    <div class="hoverclick">
        <span class="categorie">
            {{ 'espace.teaching.serial'|trans({}, 'EspaceMembers') }} {{ teaching.serial }}
        </span>
        {% set pathToPlayingTeaching %}
            {{ path('espace_members_playing_teaching', {
                'event_id' : event.id,
                'teacher_id' : teacher.id,
                'teaching_id' : teaching.id })
            }}
        {% endset %}
        <a href="{{ pathToPlayingTeaching }}" class="tittle">
            {{ teaching.title|length > 40 ?  teaching.title|slice(0, 40) ~ '...' : teaching.title }}
            <span class="uploaded-time">
                {{ 'espace.teaching.day'|trans({}, 'EspaceMembers') }} {{ teaching.dayNumber }},
                {{ teaching.date|localizeddate('none', 'none', app.request.locale, null, 'd
                LLLL Y') }} ( {{teaching.dayTime}} )
            </span>
        </a>
        <a href="{{ pathToPlayingTeaching }}" class="play">
            {% if teaching.lesson.contentType == 'audio/mpeg' %}
            <img src="{{ asset('bundles/espacemembersmain/images/audio.png') }}" alt="icon" />
            {% else %}
            <img src="{{ asset('bundles/espacemembersmain/images/video.png') }}" alt="icon" />
            {% endif %}
        </a>
        <span class="time">{{ teaching.lesson.playtime }}</span>
    </div>
    <a href="#" class="follow fav {% if bookmarksId is defined and bookmarksId|isBookmark(teaching.id) %}active{% endif %}"
        data-id="{{ teaching.id }}">
    </a>
</div>
