{#BEGIN left-column#}
    {% if chronology.events is defined and is empty %}
    <div class="left-column">
        <span class="year">{{ chronology.year }}</span>
        <p>Now found events </p>
    </div>
    {% else  %}
    <div class="left-column">
        <span class="year">{{ chronology.year }}</span>
        {% for event in chronology.events %}
            <h2>{{ event.title|capitalize }}</h2>
            <span class="sub-heading">
                <img src="{{ asset('bundles/espacemembersmain/images/flag.png') }}" alt="flag" />
                {{ event.category.title|capitalize }}
            </span>

            <div class="image-box">
                {% media event.frontImage, 'big' with { 'width': '175px', 'height': '175px', 'alt': 'image', 'title': '' } %}
                <span class="describe">
                    Du {{ event.startDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
                    Au {{ event.completionDate|localizeddate('none', 'none', 'fr_FR' , null, 'd LLLL')|title }}
                </span>
                <a href="{{ path('espace_members_detail_teaching', { 'event_id' : event.id, } ) }}" class="zoom">EN SAVOIR</a>
            </div>

            {% for teacher in event.users %}
            <div class="detail-box">
                <span class="sub-heading">
                    {% media teacher.avatar, 'small' with { 'width': '30px', 'height': '30px', 'alt': 'flag', 'title': '' } %}
                    {{ teacher.lastName }} {{ teacher.firstName }}
                </span>
                {% for teaching in teacher.teachings|filterLesson( event.title ) %}
                {#{% for teaching in teacher.teachings%}#}
                <div class="item">
                    <div class="hoverclick">
                        <span class="categorie">Causerie {{ teaching.serial }}</span>
                        <a href="{{ path('espace_members_playing_teaching', {
                            'event_id' : event.id,
                            'teacher_id' : teacher.id,
                            'teaching_id' : teaching.id
                        } ) }}" class="tittle">
                            {{ teaching.title|length > 20 ?  teaching.title|slice(0, 20) ~ '...' : teaching.title }}
                            <span class="uploaded-time">Jour {{ teaching.dayNumber }},
                                {{ teaching.date|localizeddate('none', 'none', 'fr_FR' , null, 'd
                                LLLL Y') }} (env. {{teaching.dayTime}} )
                            </span>
                        </a>
                        {% if teaching.lesson.contentType == 'audio/mpeg' %}
                            <a href="#" class="play"><img src="{{ asset('bundles/espacemembersmain/images/audio.png') }}" alt="icon" /></a>

                            {% set pathToMedia  %} {% path teaching.lesson, "reference" %} {% endset %}
                            <span class="time">{{ teaching.lesson.getPlayingTime(pathToMedia) }}</span>
                        {% else %}
                            <a href="#" class="play"><img src="{{ asset('bundles/espacemembersmain/images/video.png') }}" alt="icon" /></a>
                            {% set pathToMedia  %} {% path teaching.lesson, "reference" %} {% endset %}
                            <span class="time">{{ teaching.lesson.getPlayingTime(pathToMedia) }}</span>
                        {% endif %}
                    </div>

                    <a href="#" class="fav"></a>
                </div>
                {% else %}
                <div class="item">
                    Not found teaching
                </div>
                {% endfor %}

            </div>
            {% endfor %}

        {% else %}
            Not foun events
        {% endfor %}
        {#END detail-box#}

    </div>
    {% endif %}
{#END left-column#}
