<div class="item">
    <div class="hoverclick">
        <span class="categorie">Causerie {{ teaching.serial }}</span>
        <a href="{{ path('espace_members_playing_teaching', {
            'event_id' : event.id,
            'teacher_id' : teacher.id,
            'teaching_id' : teaching.id
        } ) }}" class="tittle">
            {{ teaching.title|length > 20 ?  teaching.title|slice(0, 20) ~ '...' : teaching.title }}
            <span class="uploaded-time">Jour {{ teaching.dayNumber }},
                {{ teaching.date|localizeddate('none', 'none', 'fr_FR' , null, 'd
                LLLL Y') }} (env. {{teaching.dayTime}} )
            </span>
        </a>
        {% if teaching.lesson.contentType == 'audio/mpeg' %}
            <a href="{{ path('espace_members_playing_teaching', {
                'event_id' : event.id,
                'teacher_id' : teacher.id,
                'teaching_id' : teaching.id
            } ) }}" class="play">
                <img src="{{ asset('bundles/espacemembersmain/images/audio.png') }}" alt="icon" />
            </a>
            {% set pathToMedia  %} {% path teaching.lesson, "reference" %} {% endset %}
            <span class="time">{{ teaching.lesson.getPlayingTime(pathToMedia) }}</span>
        {% else %}
            <a href="{{ path('espace_members_playing_teaching', {
                'event_id' : event.id,
                'teacher_id' : teacher.id,
                'teaching_id' : teaching.id
            } ) }}" class="play">
                <img src="{{ asset('bundles/espacemembersmain/images/video.png') }}" alt="icon" />
            </a>
            {% set pathToMedia  %} {% path teaching.lesson, "reference" %} {% endset %}
            <span class="time">{{ teaching.lesson.getPlayingTime(pathToMedia) }}</span>
        {% endif %}
    </div>
    {% if app.user %}
        {% set bookmarks = app.security.getToken().getUser().getBookmarks() %}
    {% endif %}
    <a href="#" class="follow fav 
		{% if bookmarks is defined and bookmarks|filterIsBookmark(teaching.id) %}active{% endif %}
		{% if bookmarks_page %}bookmark-page{% endif %}"
		data-id="{{ teaching.id }}">
    </a>
</div>
